.header {
    background-color: $cor-primaria-azul;
    @include gradient-x($cor-header-inicio, $cor-header-fim);

    a {
        color: $cor-secundaria-branco;

        &:hover {
            color: $cor-secundaria-branco;
        }
    }

    .title-ifrs {
        color: #FFFFFF;
        font-size: 12px;
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
            margin-top: 15px;
        }
    }

    .title-site {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: bolder;
        margin-bottom: 0;

        a {
            text-decoration: none;
        }
    }

    &__barra-servicos {
        background-color: $cor-barra-servicos;
    }
}
