.file-list-wrap ul {
    padding-left: 15px;
    li {
      font-size: 12px;
      word-break: break-all;
    }
  }
  
  abbr {
    text-decoration: none !important;
    border-bottom: none !important;
  }

  nav.nav-pagination {
    text-align: center ;
    
    ul {
        display: inline-block ;

        li {
            float: left;
        }
    }

  }
